# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# IDEs and editors
.idea/
.vscode/

# Logs and temp files
*.log
*.tmp
*.bak

# OS-specific
.DS_Store
Thumbs.db
